* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
}

.header .header-container .header-content {
  display: flex;
  flex-direction: column;
}
.header .header-container .header-content .header-content2 {
  margin: 85px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header-container .header-content .header-content2 h2 {
  font-size: 17px;
}
.header .header-container .header-content .header-content2 #video {
  border-radius: 25px;
  margin: 30px;
  width: 50%;
  transition: all 300ms;
}
.header .header-container .header-content .header-content2 #video:hover {
  box-shadow: 5px 5px 5px 5pxrgb 228, 228, 228;
  transform: scale(1.02);
}
.header .header-container .header-content .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #fff;
}
.header .header-container .header-content .navbar .logo__nav {
  width: 150px;
}
.header .header-container .header-content .navbar ul {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.header .header-container .header-content .navbar ul li {
  transition: all 300ms ease-in-out;
  border-radius: 20px;
}
.header .header-container .header-content .navbar ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  padding: 10px;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}
.header .header-container .header-content .navbar ul li:hover {
  background-color: lightsalmon;
  border-radius: 20px;
}
.header .header-container .header-content .navbar p {
  font-size: 30px;
}
.header .header-container .header-content .navbar a .btn1 {
  border: none;
  background-color: orange;
  cursor: pointer;
  text-transform: capitalize;
  padding: 15px;
  font-size: 17px;
  border-radius: 30px;
  width: 100%;
  color: white;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}
.header .header-container .header-content .navbar .btn1:hover {
  background-color: darkgoldenrod;
  transform: scale(1.1);
}
.header .header-container .header-content h1 {
  font-size: 75px;
  margin: 20px;
}
.header .header-container .header-content span {
  color: orange;
}
.header .header-container .header-content h2 {
  font-weight: 400;
  text-transform: none;
  margin: 15px;
  font-size: 27px;
}

.main {
  margin: 0 auto;
  max-width: 60%;
  padding: 10px;
  margin-top: 100px;
}
.main .form {
  padding: 10px;
  background-image: url(../img/form-bg.avif);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
}
.main .form form {
  background-color: rgba(182, 166, 113, 0.575);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
}
.main .form form label {
  font-weight: 600;
}
.main .form form input {
  padding: 15px;
  width: 75%;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.521);
}
.main .form form textarea {
  width: 75%;
  height: 70px;
}
.main .form form #submit {
  width: 25%;
  height: 45px;
  cursor: pointer;
  background-color: rgba(182, 166, 113, 0.575);
  transition: all 300ms ease-in-out;
}
.main .form form #submit:hover {
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(185, 161, 81, 0.87);
}/*# sourceMappingURL=styles2.css.map */